body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.topHeader {
    background-color: rgb(100, 100, 100);
}

.menuItem{
    color: rgb(255, 255, 255);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.namePort{
    font-size: 30px;
    font-weight: 600;
}

.headerBox {
    background-color: greenyellow;
    padding: auto;
    margin: 20px;
}

.title {
    font-size: 42px; 
}

.subject {
    font-size: 20px;
}

.teacher {
    font-size: 15px;
}

.processBox {
    
    padding: auto;
    margin: 20px;
}

.resultBox {
    background-color: greenyellow;
    padding: auto;
    margin: 20px;
}

.buttonBox {
    color: rgb(201, 198, 198);
    background-color: crimson;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-decoration-style: none;
    margin-bottom: 10px;
}

.inputBox {
    background-color: lightcyan;
    font-size: 20px;
    color: rgb(126, 125, 125);
    padding: 15px;
    text-align: center;
    text-decoration-style: none;
    margin-bottom: 10px;
}

.bottomFooter{
    background-color: rgb(148, 148, 148);
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    
}

. F{
    color: brown;
}
